@import 'font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  padding: 0;
  color-scheme: light;

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

.imageContainer:hover {
  filter: drop-shadow(0.5rem 0.5rem 0.5rem gray);
}
